:host {
  display: grid;
  height: 100%;
  width: 100%;
  align-content: stretch;
  justify-items: stretch;
  grid-template-rows: auto 1fr auto;
}

footer {
  flex: 1 0 100%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #555;
  color: white;
}
